PRIVATE_KEY = 
BSC_API_KEY = 

ADMIN = 

#IDPTOKEN

#VAULT
IDP_TOKEN = 
USDT = 

#FACTORY

#ROUTER
FACTORY = 
WBNB = 
VAULT = 

#ORACLE
COODRINATOR =
SUBSCRIPTION_ID =

#LOTTERY
ORACLE = 

#READER
LOTTERY =